<a href="https://colab.research.google.com/github/mateuschaves/water-data-mining/blob/main/water_analyze.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
dataset_url = 'https://raw.githubusercontent.com/mateuschaves/water-data-mining/main/water_potability.csv'
data = pd.read_csv(dataset_url)
data.head()

         ph    Hardness        Solids  ...  Trihalomethanes  Turbidity  Potability
0       NaN  204.890455  20791.318981  ...        86.990970   2.963135           0
1  3.716080  129.422921  18630.057858  ...        56.329076   4.500656           0
2  8.099124  224.236259  19909.541732  ...        66.420093   3.055934           0
3  8.316766  214.373394  22018.417441  ...       100.341674   4.628771           0
4  9.092223  181.101509  17978.986339  ...        31.997993   4.075075           0

[5 rows x 10 columns]

**As colunas ```ph``` e ```Sulfate``` possuem valores vazios**